/*--------main Style---------*/

body {
    font-family: Arial;
    padding-top: 100px;
    color: black;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ededed;
    color: #A9A9A9;
}


/*--------background Style---------*/

.navbar-cust {
    background-color: #DDDDDD;
}


.base-bgd {
    background-color: lightgray;
}

.issue-bgd {
    background-color: #DDDDDD;
    color: black;
    margin-top: 10px;
    padding-top: 10px;
    border: 1px solid #ededed;
}

.comment-section{
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.comment {
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid #726e6e66;
    border-radius: 8px;
    margin: 2px;
}


/*--------background status-text---------*/
.draft-bgd {
    background-color: #f0f8ff;
    color: black;
    padding: 5px;
    border: 1px solid black;
}

.todo-bgd {
    background-color: #edf1fe;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

.indev-bgd {
    background-color: #d8e8e6;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

.fixed-bgd {
    background-color: #e5edf1;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

.intest-bgd {
    background-color: #a1d7c9;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

.done-bgd {
    background-color: #f4e8d1;
    color: black;
    padding: 5px;
    border: 1px solid black;
    border-radius: 8px;
}

.main_bgd{
    background: url("../images/tabletools.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: relative; 

}


/*--------custom Issue---------*/

.issue-head {
    font-size: 25px;
}

/*--------custom Issue Detail---------*/


.issue_detail-wrapper .favorited .fa{
  font-size: 2.4em;
}

.content-area {
  margin-top: 40px;
}


.second-column {
  padding: 0px 45px;
  margin-top: 40px;
}



.detail-main .header-content {
  background-color: #AAAAAA;
  color: white;
  height: 40px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;

}

.detail-main {
  background-color: #DDDDDD;
  margin-bottom: 50px;
  margin-top: -20px;
  border-radius: 25px;
}


.shape {
  border-radius: 0px;
  display: inline;
  height: 60px;
  max-width: 180px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #ffffff;
  margin: 30px;
}

.detail-btn {
    padding: 10px;
}





/*--------customer Style---------*/

.centre-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}


.status-style {
    font-size: 30px;
}

.icon {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

/*--------////customer Style---------*/

.dev-item-stle {
    font-size: 20px;
}

.total {
  margin-right: 10px;
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: blue;
  border: 1px solid white;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.status-style {
    font-size: 30px;
}

.leg-style {
    color: black;
    background-color: #ee878752;
    text-align: center;
}

.search-style {
    background: #514b497a;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.search-button {
    color: white;
    background-color: #002d80b5;
    border: 1px solid #ddd;
    height: 30px;
    margin: 10px;
}


.form-style {
    margin: 10px;
}

.search-field {
    height: 30px;
    color: black;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.issue {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
}

.product-description {
    min-height: 40px;
}