{% extends "base.html" %}
{% block content %}

<div class="row row-flex centre-elem">
    {% for issue in issues %}
        <div class="col-xs-9 display panel panel-default issue-bgd">
            <div class="panel-body">
                <div class="col-md-2 col-sm-3 text-center">
                    <a class="story-img" href="#">
                        <img src="/media/img/profile.jpg" class="img-circle">
                    </a>
                    <p><span class="boldtext">Author:</span> Billbob</p>
                </div>
                
                <div class="col-md-10 col-sm-9">
                
                    <h3>{{ issue.name }}</h3>
                    <div class="row">
                        <div class="col-xs-9">
                            <p>Description: {{ issue.description|truncatewords:30 }}</p>
                            <p class="boldtext">Status:{{ issue.status }}</p>
                            <p><a href="{% url 'issue_detail' issue.id %}"  class="btn btn-default">Read more</a></p>
                            <p><span class="boldtext">Created on:</span> {{ issue.published_date }} </p>
                            <p class="issue-description">Issue Type:{{ issue.issue_type }}</p>
                            <p><span class="boldtext">Views:</span> {{issue.views}}</p>
                            <p><span class="boldtext">Votes:</span> {{issue.votes}}</p>
                        </div>
                    </div>        
                </div>   
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}