{% extends 'base.html' %}
{% load bootstrap_tags %}
{% block content %}
<div class="container-fluid issue_detail-wrapper">
	<div class="row">
		<div class="col content-area">
			<div class="container detail-main mx-auto">
                <div class="header-content row d-flex">
					<div class="col-12 centre-elem issue-head">
                        <i class="fas fa-save"> Done Details</i>
					</div>    
                </div>     
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | as_bootstrap }}
                    <div class="row centre-elem">    
                        <button type="submit" class="btn btn-info">Save</button>
                        <a href="{% url 'issues' %}" class="btn btn-primary btn-cancel">Cancel</a>
                    </div>
                </form>
			</div>
        </div> 
    </div>
</div>    
{% endblock %}