{% extends "base.html" %}
{% block content %}


{% for issue in issues %}
<div class="accordion centre-elem" id="issue-accordion">
	<div class="card mt-5 col-xs-9 issue-bgd">
		<div class="row card-header header-content">
            <div class="col-xs-12 col-sm-6 col-lg-5">
                {% if issue.issue_type == "Bug" %}
                <button class="btn btn-link issue-head" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <i class="fas fa-bug"> {{ issue.name }}</i>
                    </button>
                {% else %}
                <button class="btn btn-link issue-head" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <i class="fas fa-check-double"> {{ issue.name }}</i>
                    </button>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-4 issue-head">
                {% if issue.status == "ToDo" %}
                    <p class="boldtext card-text"><span class="todo-bgd">{{ issue.status }}</span></p>
                {% elif issue.status == "InDevelopment" %}
                    <p class="boldtext card-text"><span class="indev-bgd">{{ issue.status }}</span></p>
                {% elif issue.status == "Fixed" %}
                    <p class="boldtext card-text"><span class="fixed-bgd">{{ issue.status }}</span></p>
                {% elif issue.status == "InTest" %}
                    <p class="boldtext card-text"><span class="intest-bgd">{{ issue.status }}</span></p>
                {% elif issue.status == "Done" %}
                    <p class="boldtext card-text"><span class="done-bgd">{{ issue.status }}</span></p>
                {% else %}
                    <p class="boldtext card-text"><span class="draft-bgd">Issue: {{ issue.status }}</span></p>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-lg-3">
				<p class="card-text"><span class="boldtext">Created on:</span> {{ issue.published_date }} </p>
			</div>
            
		</div>
		<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#issue-accordion">
			<div class="card-body">
				<h5 class="card-title description">Description: {{ issue.description|truncatewords:30 }}</h5>
				<div class="row icon">
                    <div class="col-xs-12 col-sm-3 col-lg-4 text-center">
						<i class="far fa-eye"> {{ issue.views }}</i>
					</div>
					<div class="col-xs-12 col-sm-6 col-lg-4">
                    {% if issue.issue_type == "Bug" %}
                        <i class="fas fa-bug"> {{ issue.issue_type }}</i>
                    {% else %}
                        <i class="fas fa-check-double"> {{ issue.issue_type }}</i>
                    {% endif %}       
					</div>
                    <div class="col-xs-12 col-sm-3 col-lg-4 text-center">
						<i class="fas fa-thumbs-up"> {{ issue.votes }}</i>
					</div>
				</div>
			
				<div class="text-center">
					<p class="card-text">
						<a href="{% url 'issue_detail' issue.id %}" class="btn btn-info">Details</a>
						{% if issue.issue_type == "Bug" %}
						<a href="{% url 'increment_vote' issue.id %}" class="btn btn-success">Vote</a></p>
					{% else %}
					<form method="post" action="{% url 'add_to_cart' issue.id %}">
						{% csrf_token %}
						<div class="input-group form-style">
							<input name="quantity" type="number" min="1" max="999" class="form-control form-control-sm" placeholder="Number of Votes">
							<span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Vote</button>
                    </span>
						</div>
					</form>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endfor %}


{% endblock %}