{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Issue Detail{% endblock %}

{% block content %}

<div class="container-fluid issue_detail-wrapper">
	<div class="row">
		<div class="col content-area">
			<div class="container detail-main mx-auto">
				<div class="header-content row d-flex">
					<div class="col-12 centre-elem issue-head">
						{% if issue.issue_type == "Bug" %}
						<i class="fas fa-bug"> {{ issue.name }}</i>
						{% else %}
						<i class="fas fa-check-double"> {{ issue.name }}</i>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 col-md-4 col-lg-4 border">
						<div class="justify-content-center">
							<div class="row centre-elem">
								{% if issue.status == "Draft" %}
								<p class="boldtext"><span class="draft-bgd status-style">{{ issue.status }} </span></p>
								{% elif issue.status == "ToDo" %}
								<p class="boldtext"><span class="todo-bgd status-style">{{ issue.status }}</span></p>
								{% elif issue.status == "InDevelopment" %}
								<p class="boldtext"><span class="indev-bgd status-style">{{ issue.status }}</span></p>
								{% elif issue.status == "Fixed" %}
								<p class="boldtext"><span class="fixed-bgd status-style">{{ issue.status }}</span></p>
								{% elif issue.status == "InTest" %}
								<p class="boldtext"><span class="intest-bgd status-style">{{ issue.status }}</span></p>
								{% elif issue.status == "Done" %}
								<p class="boldtext"><span class="done-bgd status-style">{{ issue.status }}</span></p>
								{% else %}
								<p class="boldtext card-text">
									<span class="draft-bgd status-style">Issue: {{ issue.status }}</span></p>
								{% endif %}
							</div>
							<div class="row icon">
								<div class="col-sm-6 col-md-6 col-lg-6 text-center">
									<i class="far fa-eye"> {{ issue.views }}</i>
								</div>
								<div class="col-sm-6 col-md-6 col-lg-6 text-center">
									<i class="fas fa-thumbs-up"> {{ issue.votes }}</i>
								</div>
							</div>
							{% if issue.status == "InTest" %}
							<div class="centre-elem">
								<a href="{% url 'pass_test' issue.id %}" class="btn btn-default">Passed</a>
							</div>
							{% else %}
							<div class="">
								<div class="">
									{% if issue.issue_type == "Bug" %}
									<p><strong>Vote for me.</strong> The Bug with most votes is fixed first!!</p>
									{% else %}
									{% if issue.votes < 100 %}
									<p><strong>Vote Now!</strong> I have {{ issue.votes }} of the 100 votes needed</p>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" data-progress="80%">

                                        </div>
                                    </div>
									{% else %}
									<p><strong>Vote Suspended</strong> I have reached my voting goal and develpment
										will begin</p>
									{% endif %}
									{% endif %}
								</div>
							</div>
							
							{% if issue.status == "Done" %}
							<div>
							</div>
							{% else %}
							<div class="card-footer text-center">
								{% if issue.issue_type == "Bug" %}
								<a href="{% url 'increment_vote' issue.id %}" class="btn btn-success">Vote</a></p>
								{% else %}
								<form method="post" action="{% url 'add_to_cart' issue.id %}">
									{% csrf_token %}
									<div class="input-group form-style">
										<input name="quantity" type="number" min="1" max="999" class="form-control" placeholder="Number of Votes">
										<span class="input-group-btn">
                                                <button class="btn btn-success" type="submit">Vote</button>
                                            </span>
									</div>
								</form>
								{% endif %}
							</div>
							{% endif %}
                            {% endif %}    
							<div class="row">
								<p><span class="boldtext"><strong>Created on:</strong></span>
									{{ issue.published_date }} </p>
							</div>
						</div>
					</div>

				    <div class="col-sm-12 col-md-8 col-lg-8 second-column">
					<div class="container justify-content-center">
						<div class="row">
							<div class="col">
								<dl>
									<dt>Description</dt>
									<dd>
										<p class="text-justify">{{ issue.description }}</p>
									</dd>
								</dl>

								<dl>
									<dt>Steps to Reproduce</dt>
									<dd>
										<p class="text-justify">{{ issue.step_to_Reproduce }}</p>
									</dd>
								</dl>

								<dl>
									<dt>Expected Results</dt>
									<dd>
										<p class="text-justify">{{ issue.expected_Results }}</p>
									</dd>
								</dl>

								<dl>
									<dt>Actual Results</dt>
									<dd>
										<p class="text-justify">{{ issue.actual_Results }}</p>
									</dd>
								</dl>
								{% if issue.status == "Done" %}
								<dl>
									<dt>Root Cause</dt>
									<dd>
										<p class="text-justify">{{ issue.root_cause }}</p>
									</dd>
								</dl>

								<dl>
									<dt>Resolution</dt>
									<dd>
										<p class="text-justify">{{ issue.resolution }}</p>
									</dd>
								</dl>
								{% else %}
								<div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>
				    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-4 col-lg-4 detail-btn">
                        <a href="{% url 'issues' %}" class="btn btn-default">Back to Issues</a>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 detail-btn">
                        <a href="{% url 'edit_issue' issue.id %}" class="btn btn-default">Edit Issue</a>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 detail-btn">
                        <a href="{% url 'add_comment' issue.id %}" class="btn btn-default">Add Comment</a>
                    </div>
			    </div>  
			</div>
		</div>
	</div>
</div>


{% endblock %}